<div id="titulomarca"><h1>ACTUALLY BRANDS</h1></div>


   

  
  <div id="atributos">
    
      <li class="atributon">Image</li>
      <li class="atributon">Brand</li>
      <li class="atributon">Description</li>
      
    </div>
  


  <tbody>
    <% @brands.each do |brand| %> 
    <div class="brands_object">
             
        <%= link_to   image_tag(brand.image , :size => '350') , :controller => "cars", :action => "index", :id => brand.id %> 
        <div class="atributomarca"> <%= brand.description %> </div>
        <div class="atributomarca"> <%= brand.phone %>        </div>
 

        <div class="atributomarca">
        <%= link_to 'Show', brand %>
        
        <% if !current_user.nil? %>
         <%= link_to 'Edit', edit_brand_path(brand) %>
         <%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
     </div>
      
         <%end%>
        <% end %>
     </tbody> 




<div id="crearmarca">
   <% if !current_user.nil? %>
     <%= link_to 'New Brand', new_brand_path %>
</div>
  <%end%>

<div id="paginate"> 
  <%= will_paginate @cars %> 
  </div>
